<%- include ('../partials/admin/header.ejs') %>
    <%- include ('../partials/admin/navigation.ejs') %>



        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->


            <!-- Content Row -->
            <div class="row">


                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Crear Recurso!</h1>
                                    <% if (errors) { %>
                                        <% for(errores in errors1) { %>
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <%= errors1[errores].text %>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <% } %>
                                                <% } %>

                                                    <% if (mensaje) { %>
                                                        <% for(mensajes in mensaje) { %>
                                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                                <%= mensaje[mensajes].text %>
                                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                            </div>
                                                            <% } %>
                                                                <% } %>
                                </div>
                                <form class="user" method="POST" enctype="multipart/form-data" action="/saveRecurso">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="titulo" placeholder="Título" name="titulo" style="border-radius: 3rem; height:3.1rem;" required/>

                                            </div>

                                        </div>
                                        <div class="col-sm-6 ">

                                            <div class="form-group">
                                                <input type="file" class="form-control " id="multimedia" name="multimedia" placeholder="Multimedia" style="border-radius: 3rem; height:3.1rem;" required />
                                                <input class="form-control" type="file" id="formFile" style="display: block !important;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 0.75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #6e707e;background-color: #fff;background-clip: padding-box;border: 1px solid #d1d3e2;border-radius: 0.35rem;transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="url" class="form-control " id="masinfo" placeholder="Url más información" name="masinfo" style="border-radius: 3rem; height:3.1rem;" required />
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Descripción"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Guardar</button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>





            </div>

            <!-- Content Row -->


        </div>




        </div>
        </div>

        </div>
        <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <%- include ('../partials/admin/footer.ejs') %>